@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.app-container{
    width: 512px;
    background-color: white;
}
.hero{
    background-color: #404eed;
    background-image: url(/img/background.png);
    background-size: cover;
    color: white;
    padding: 40px 20px;
}